[Unit]
Description=Redshift
 
[Service]
Type=simple
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/thibault/.Xauthority"
ExecStart=/usr/bin/redshift -l geoclue2
 
[Install]
WantedBy=multi-user.target
