[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=bash -c "lock-screen"
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
